@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "ServiceIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:white;font-weight:bold;text-align:center;margin-top:20px;">Services Alanı</h2>
<br />



<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>TİTLE</th>
        <th>ımage</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>

    </tr>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ServiceID</td>
                <td>@x.Title</td>
                <td>@x.ImageUrl</td>
                
                <td>
                    <a href="/Service/ServiceUpdate/@x.ServiceID" class="btn btn-success">GÜNCELLE</a>
                </td>
                <td>
                    <a href="/Service/ServiceDelete/@x.ServiceID" class="btn btn-danger">SİL</a>
                </td>


            </tr>
        }



    </tbody>
</table>


<a href="/Service/ServiceAdd">
    
    <button class="btn btn-primary"> YENİ HİZMET EKLE</button>
    
</a>
