@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "ContactIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:white;font-weight:bold;text-align:center;margin-top:20px;">Contact Alanı</h2>
<br />



<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>MAİL</th>
        <th>CONTENT</th>
        <th>GÜNCELLE</th>
        <th>SİL</th>

    </tr>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.MessageID</td>
                <td>@x.Name</td>
                <td>@x.Mail</td>
                <td>@x.Contents</td>
                
                <td>
                    <a href="/Contact/ContactUpdate/@x.MessageID" class="btn btn-success">GÜNCELLE</a>
                </td>
                <td>
                    <a href="/Contact/ContactDelete/@x.MessageID" class="btn btn-danger">SİL</a>
                </td>


            </tr>
        }



    </tbody>
</table>


